# Git Ignore File for weka-tweeter

# Ignore .class files in bin/
bin/

# Ignore .DS_Store files from OS X
*.DS_Store

# Ignore Eclipse project files
.settings/
*.classpath
*.project

# Ignore .arff files
*.arff
